<table class="table table-responsive table-bordered">
    <thead>
    <tr>
        <th class="active">All categories</th>
    </tr>
    </thead>
    <tbody>
    {% for index,category in categories %}
        <tr>
            <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>