{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 style="justify-content: center">Shopping cart</h1>
            </div>

            <div id="status">
                <p style="justify-content: center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="656.80536" height="591.75153">
                        <title>shopping cart</title>
                        <metadata id="metadata7">image/svg+xmlMarket Basket27.06.2007Jakub Klawiter</metadata>

                        <g>
                            <title>Layer 1</title>
                            <g id="g3257" transform="matrix(0.547803, 0, 0, 0.547803, 165.303, 314.126)">
                                <path id="path3176" d="m-54.21769,354.620789c190.447426,-82.024353 519.487801,-59.396942 692.964638,53.740173c63.168213,-78.253174 41.483582,-266.814972 -31.112671,-288.499603c49.968933,-191.390205 -49.968872,-600.569336 192.333008,-613.768677c97.109375,103.709015 157.449097,-126.336395 2.82843,-70.710663c-319.582733,30.769592 -208.155701,428.582855 -282.842712,664.680359c-267.757721,-58.454147 -716.534821,69.767883 -625.082375,141.421356c265.872154,-71.653473 593.969734,-157.449097 712.763649,87.681244c-131.993256,-131.993256 -620.368318,-108.423035 -661.851967,25.455811z" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="30" fill-rule="nonzero" fill="#ff0000"/>
                                <path d="m-34.418701,111.376099c-212.13205,-178.190918 -690.584961,-697.50293 574.170715,-444.063049c-930.552551,-50.911682 -808.930115,28.284241 -574.170715,444.063049z" id="path3202" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="30" fill-rule="nonzero" fill="#007f3f"/>
                                <path d="m-192.811005,-171.466995c207.418405,-68.825012 457.263,-95.223007 684.480011,-50.911011c-214.018005,-15.084991 -461.976706,37.712006 -661.852005,104.651009c-7.542999,-17.913002 -15.085007,-35.825996 -22.628006,-53.739998l0,0z" id="path3204" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="30" fill-rule="nonzero" fill="#ff7f00"/>
                                <path d="m-124.928001,-41.359001c10.371002,19.799002 20.741005,39.598011 31.112305,59.397001c140.478596,-90.509703 334.697701,-130.108 534.572685,-118.793997c-148.020996,-76.367004 -335.639992,-48.083008 -565.68499,59.396996l0,0z" id="path3206" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="30" fill-rule="nonzero" fill="#ff7f00"/>
                                <path d="m-181.496902,-315.7164c27.341461,-12.256531 54.682915,-24.513031 82.024384,-36.769562c118.793928,143.306976 181.019348,292.270813 220.61731,446.891479c-75.424732,-145.192577 -159.334732,-276.243042 -302.641693,-410.121918z" id="path3208" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="30" fill-rule="nonzero" fill="#ff0000"/>
                                <path d="m-11.79128,-366.628113c23.57023,-0.94281 47.14045,-1.88559 70.710679,-2.8284c107.480228,130.107651 152.735035,263.043732 152.735035,398.808222c-40.540771,-131.99328 -103.708984,-263.986536 -223.445714,-395.979822z" id="path3210" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="30" fill-rule="nonzero" fill="#ffff00"/>
                                <path d="m186.198608,-363.799683c22.627441,0.94281 45.254852,1.88562 67.882263,2.82843c43.369202,112.194305 75.424713,218.73172 70.710663,336.582853c-15.08493,-118.793943 -69.767853,-223.445753 -138.592926,-339.411283z" id="path3212" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="30" fill-rule="nonzero" fill="#007fff"/>
                                <path id="path3234" d="m8.51733,306.225952c-17.01834,0.243835 -32.895401,5.086426 -45.625,14.96875c-37.031544,28.748413 -33.575123,89.260803 7.71875,135.09375c41.2939,45.832886 104.874706,59.717163 141.906239,30.96875c37.031525,-28.748474 33.575165,-89.292114 -7.71875,-135.125c-27.099106,-30.077881 -63.791668,-46.371765 -96.281239,-45.90625zm29.125,57.40625c14.226971,-0.219604 30.28973,7.498596 42.156246,21.6875c18.082321,21.621155 19.622131,50.156982 3.40625,63.71875c-16.215866,13.561707 -44.073917,7.027405 -62.156246,-14.59375c-18.08233,-21.621216 -19.59087,-50.188293 -3.375,-63.75c5.574221,-4.661865 12.516541,-6.94751 19.96875,-7.0625z" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="9.127374" stroke="#fffdff" fill-rule="nonzero" fill="#000000"/>
                                <path id="path3243" d="m513.392944,306.225952c-17.018372,0.243835 -32.895447,5.086426 -45.625,14.96875c-37.031555,28.748413 -33.575134,89.260803 7.71875,135.09375c41.293884,45.832886 104.874695,59.717163 141.90625,30.96875c37.031494,-28.748474 33.575134,-89.292114 -7.71875,-135.125c-27.099121,-30.077881 -63.791687,-46.371765 -96.28125,-45.90625zm29.125,57.40625c14.226929,-0.219604 30.289673,7.498596 42.15625,21.6875c18.082275,21.621155 19.622131,50.156982 3.40625,63.71875c-16.215881,13.561707 -44.073914,7.027405 -62.15625,-14.59375c-18.082336,-21.621216 -19.590881,-50.188293 -3.375,-63.75c5.574219,-4.661865 12.516541,-6.94751 19.96875,-7.0625z" stroke-dashoffset="0" stroke-miterlimit="4" stroke-linejoin="round" stroke-linecap="round" stroke-width="9.127374" stroke="#fffdff" fill-rule="nonzero" fill="#000000"/>
                            </g>
                        </g>
                    </svg>

                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
