{% extends 'base.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="error">
                <p>{{ dump(flashMessage) }}</p>
            </div>
        </div>
    {% endfor %}
    <div>
        <div class="well">
            <form class="form-horizontal" name="authenticate" action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email:</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="user_email" placeholder="Email"
                                   name="_username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                   name="_password" required>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                    <div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {#<div class="well">
        <h5><strong>So as to examine and test all of the project's functionalities, use the following
                profiles:</strong></h5>
    </div>
    <div class="form-group">
        <article class="col-md-3 panel panel-default">
            <small class="author"><h5>Admin</h5></small>
            <small class="author">email: admin@abv.bg</small>
            <small class="author">password: 123</small>
        </article>
        <article class="col-md-3 panel panel-default">
            <small class="author"><h5>Editor</h5></small>
            <small class="author">email: editor@abv.bg</small>
            <small class="author">password: 123</small>
        </article>
        <article class="col-md-3 panel panel-default">
            <small class="author"><h5>User</h5></small>
            <small class="author">email: gosho@abv.bg</small>
            <small class="author">password: 123</small>
        </article>
        <article class="col-md-3 panel panel-default">
            <small class="author"><h5>User</h5></small>
            <small class="author">email: pesho@abv.bg</small>
            <small class="author">password: 123</small>
        </article>
    </div>#}

{% endblock %}